# Ignore node_modules for both frontend and backend
frontend/node_modules/
Backend/node_modules/
node_modules

# Ignore environment files
frontend/.env
Backend/.env
.env

# Ignore other common files
.DS_Store
*.log
npm-debug.log
yarn-error.log
